<main> 
    <div class="container">
        <section class="jumbotron">
            <h1>Eat-Da-Burger!</h1>
        </section>

        <section>
            <h2>Add Burgers</h2>
            <form class="create-form">
                <label for="burger-input">Burger Type: </label>
                <input type="text" id="burger-input" class="burger-input" placeholder="Enter a burger type">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>

        <hr>
        
        <section>
            <h2>Uneaten Burgers List</h2>
            <ul>
            {{#each burgers}}
                {{#unless this.devoured }}
                    <p>ID: {{this.id}}</p>
                    <p>Name: {{this.burger_name}}</p>
                    <button class="btn btn-success eat-burger" data-id="{{this.id}}"><span class="fas fa-laugh"></span> Eat!</button>
                    <button class="btn btn-danger delete-burger"data-id="{{this.id}}"><span class="fas fa-trash"></span> Remove</button>	            
                {{/unless}}
            {{/each}}
            </ul>
        </section>

        <section>
            <h2>Eaten Burgers List</h2>
            <ul>
            {{#each burgers}}
                {{#if this.devoured }}
                <li>
                    <p>{{this.burger_name}}</p>
  	            </li>
                {{/if}}  	            
            {{/each}}
            </ul>
        </section>
    </div>
    
</main>

<script src="/assets/js/index.js"></script>